# copy this file to 'instance/run80by24-auth.cfg'

PORT=5002

#python -c 'import os; print(os.urandom(16))'
SECRET_KEY = 'secret'
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_DATABASE_URI_TEMPLATE = 'sqlite:///{}/db.sqlite'

OIDC_DISCOVERY_URL = 'http://localhost:5002/.well-known/openid-configuration'
