<style>
  label, label > span { display: block; }
  label { margin: 15px 0; }
</style>

<script>
function post(url, data) {
    fetch(url,
      {method: 'POST',
      headers: {"Content-Type": "application/json; charset=utf-8"},
      body: JSON.stringify(data),
      }).then(resp => alert(resp.status));
}
function formToJSON(id) {
  // credits https://code.lengstorf.com/get-form-values-as-json/

  const isValidElement = element => element.name && element.value;
  const isCheckbox = element => element.type === 'checkbox';
  const isValidValue = element => (!['checkbox', 'radio'].includes(element.type) || element.checked);
  const isMultiSelect = element => element.options && element.multiple;
  const getSelectValues = options => [].reduce.call(options, (values, option) => {
    return option.selected ? values.concat(option.value) : values;
  }, []);

  json = [].reduce.call(document.getElementById(id).elements, (data, element) => {
    if (isValidElement(element) && isValidValue(element)) {
      if (isCheckbox(element)) {
        data[element.name] = (data[element.name] || []).concat(element.value);
      } else if (isMultiSelect(element)) {
        data[element.name] = getSelectValues(element);
      } else {
        data[element.name] = element.value;
      }
    }
    return data;
  }, {});
  return json;
}
</script>

<a href="/">Home</a>

<form id="form">
  <label>
    <span>Client Name</span>
    <input type="text" name="client_name">
  </label>
  <label>
    <span>Client URI</span>
    <input type="url" name="client_uri">
  </label>
  <label>
    <span>Redirect URIs</span>
    <textarea name="redirect_uri" cols="30" rows="10"></textarea>
  </label>
  <label>
    <span>Flow</span>
    <select name="flow">
      <option value="code">authorization code</option>
      <option value="implicit">implicit</option>
    </select>
  </label>
  <button type="button" onclick="post('{{url_for('client.create')}}',formToJSON('form'))">Submit</button>
</form>
